{{ form_start(form) }}
    <section class="block">
    <table>
    <tr>
    <td>
        {{ form_row(form.nameCategoryProduct, {
            label: 'Nom'
        }) }}
    </td>
    </tr>
    </table>
    <button class="btn"><a><i class="fas fa-check-circle"></i></a></button>
    </section>
    <button class="btn"></button>
{{ form_end(form) }}
