{% extends 'base.html.twig' %}

{% block title %}Edit CategoryProduct{% endblock %}

{% block body %}
<section class="admin">
<div class="row">
<div class="col">
</div>
<div class="col-md-10">
<h1>Admin </h1>
</div>
<div class="col">
<a href="{{ path('category_product_index') }}"><i class="fas fa-reply"></i></a>
</div>
</div>
    <h2>Modifier la categorie : {{ category_product.nameCategoryProduct }}</h2>

    {{ include('category_product/_form.html.twig', {'button_label': 'Update'}) }}

    
{% endblock %}
