<form method="post" action="{{ path('player_delete', {'id': player.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer définitiment {{ player.pseudoPlayer }} de la base de donnée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ player.id) }}">
    <button class="btn"><a><i class="fas fa-trash"></a></i></button>
</form>
