<form method="post" action="{{ path('game_delete', {'id': game.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer définitivement {{ game.nameGame}} de la base de donnée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
     <button class="btn"><a><i class="fas fa-trash"></i></a></button>
</form>
