{% extends 'base.html.twig' %}

{% block title %}Edit Game{% endblock %}

{% block body %}

<section class="admin">
<div class="row">
<div class="col">
</div>
<div class="col-md-10">
<h1>Admin </h1>
</div>
<div class="col">
<a href="{{ path('article_index') }}"><i class="fas fa-reply"></i></a>
</div>
</div>



    <h2>Modifier le jeux : {{ game.nameGame }}</h2>

   {{ include('game/_form.html.twig', {'button_label': 'Update'}) }}

</section>


    
{% endblock %}
