{% extends 'base.html.twig' %}

{% block title %}Game
{% endblock %}

{% block body %}
	<section class="admin">
		<div class="row">
			<div class="col"></div>
			<div class="col-md-10">
				<h1>{{ game.nameGame }}</h1>
				<h1><img src="{{ asset('uploads/images/' ~ game.imageGame) }}" width="500"></h1>
			</div>
			<div class="col">
				<a href="javascript:history.go(-1)">
					<i class="fas fa-reply"></i>
				</a>
			</div>
		</div>

		{% for player in players %}
			<h6>
				{{ player.pseudoPlayer }}
				<img src="{{ asset('uploads/images/' ~ player.imagePlayer) }}" height="100">
			</h6>
		{% endfor %}
	</section>

{% endblock %}
