{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}



                <h1>{{ article.titleArticle }}</h1>
                <h1><img src="{{ asset('uploads/images/' ~ article.imageArticle) }}" width="500"></h1>
            
                <h2>DescriptionArticle</h2>
                
                <h3>{{ article.dateArticle ? article.dateArticle|date('Y-m-d') : '' }}</h3>
    


    
{% endblock %}
