<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer définitivement {{ product.nameProduct}} de la base de donnée ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn"><a><i class="fas fa-trash"></i></a></button>
</form>
