{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<section class="admin">
<div class="row">
<div class="col">
</div>
<div class="col-md-10">
<h1>Admin </h1>
</div>
<div class="col">
<a href="{{ path('product_index') }}"><i class="fas fa-reply"></i></a>
</div>
</div>
    <h2>Créer un nouveau produit</h2>

    {{ include('product/_form.html.twig') }}
    </section>

{% endblock %}
